[Unit]
Description=Notify when mouse batteries are low

[Service]
Type=simple
ExecStart=/home/emil/code/scripts/batteries

[Install]
WantedBy=default.target
