[Unit]
Description=Send clipboard to phone via kdeconnect-cli
Requires=graphical-session.target
After=app-org.kde.kdeconnect.daemon@autostart.service
PartOf=app-org.kde.kdeconnect.daemon@autostart.service
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=simple
ExecStart=wl-paste -t text --watch bash -c 'kdeconnect-cli -d 3ba872808fde494fb5309f1c4fef4490 --share-text "$(</dev/stdin)"'

[Install]
WantedBy=graphical-session.target
