[Unit]
Description=Update shared calendars

[Service]
Type=simple
ExecStart=python /home/emil/code/scripts/calendar/download_calendars.py
ExecStartPost=/home/emil/code/scripts/calendar/post_download_calendars

[Install]
WantedBy=multi-user.target
