[Unit]
Description=Starts game mode when a Dualsense controller connects

[Service]
; Environment="DISPLAY=:0"
Type=simple
ExecStart=/home/emil/.local/scripts/game_mode
