- rock:
    - alternative rock:
        - indie rock:
            - indie pop
            - indie folk
            - indietronica
        - grunge
        - britpop
        - garage rock
        - lo-fi
        - slowcore
    - classic rock:
        - rockabilly
        - rock opera
    - hard rock:
        - glam rock
        - piano rock
    - punk rock:
        - hardcore punk - melodic hardcore
        - post-hardcore
        - screamo
        - emo
        - emo rap
        - pop punk
        - dance-punk
        - art punk
        - folk punk
        - ska punk
        - horror punk
    - post-rock
    - post-punk
    - art rock
    - experimental rock
    - noise rock
    - noise pop
    - neo-psychedelia
    - psychedelic rock:
        - psychedelic pop
    - krautrock
    - shoegaze
    - j-rock
    - cello rock
    - gothic rock
    - funk rock
    - jazz-rock
    - math rock
    - progressive rock
    - new wave
    - indie rock
    - pop rock
    - folk rock
    - soft rock

- metal:
    - heavy metal:
        - thrash metal
        - death metal:
            - deathcore
        - black metal:
            - viking metal
        - doom metal:
            - drone doom
            - stoner metal
        - power metal
        - groove metal
        - progressive metal
        - folk metal
        - avant-garde metal
        - metalcore
        - mathcore
        - post-metal
        - industrial metal
        - nu metal
        - speedcore
    - stoner rock

- hip hop:
    - alternative hip hop
    - east coast hip hop
    - west coast hip hop
    - southern hip hop
    - hardcore hip hop
    - gangsta rap
    - mafioso rap
    - memphis rap
    - jazz rap
    - pop rap
    - industrial hip-hop
    - nerdcore
    - horrorcore
    - rap:
        - rapcore
    - turntablism

- electronic:
    - electronic:
        - electronica
        - electropop
        - electo
        - electro house
        - electro-industrial
    - house:
        - deep house
        - progressive house
    - techno
    - trance:
        - uplifting
    - ambient:
        - dark ambient
        - illbient
        - chillout
        - chillwave
        - downtempo
    - idm
    - glitch
    - trip hop
    - drum and bass
    - breakbeat - breakcore
    - dub - dubstep
    - gabber
    - big beat
    - dance
    - dance-punk
    - folktronica
    - indietronica
    - bitpop
    - 8-bit

- pop:
    - pop:
        - baroque pop
        - chamber pop
        - j-pop
        - shibuya-kei
        - synthpop
        - power pop
    - soul:
        - neo soul
    - funk
    - disco
    - easy listening

- folk / traditional:
    - folk:
        - neofolk
        - progressive folk
    - americana
    - celtic - celtic punk
    - anti-folk

- jazz / blues:
    - jazz:
        - free jazz
        - jazz fusion
        - nu jazz
    - blues

- classical:
    - classical:
        - contemporary classical
        - orchestral
        - chamber music
    - classic
    - enka

- industrial:
    - post-industrial
    - death industrial

- comedy

- reggaeton
