* {
	background-color: #3a3a3a;
	text-color:       #d0d0d0;
	font:             "Monospace {{ .font_size_px }}px";
	border-bottom-style: "solid";
	border-bottom-width: 2px;
	border-bottom-color: red;
}

window {
	anchor:           north;
	location:         north;
	y-offset:         -25;
	y-offset:         -{{ add .font_size_px 15 }};
	width:            100%;
	height:           {{ add .font_size_px 13 }};
	children:         [ horibox ];
}

horibox {
	orientation:      horizontal;
	children:         [ prompt, entry, listview ];
}

listview {
	layout:           horizontal;
	spacing:          100px;
	lines:            100;
	padding:          0px 100px 0px 0px;
}

entry {
	expand:           false;
	width:            10em;
	padding:          4px 0px 0px 0px;
}

element {
	padding:          4px 0px 2px 0px;
}

element selected {
	text-color:       #d68787;
}

element-text {
	background-color: inherit;
	text-color:       inherit;
}

prompt {
	padding:          4px 1px 0px 6px;
}

icon {
	theme: "tela";
}
