[keepassxc]
    database = "~/sync/pw.kdbx"

[merge]
    command = "nvim"
    args = ["-d"]

[data]
    {{- if eq .chezmoi.hostname "kusanagi" }}
    font_size_px = 10
    font_size_pt = 6
    cursor_size = 16
    {{- else if eq .chezmoi.hostname "aisaka" }}
    font_size_px = 20
    font_size_pt = 12
    cursor_size = 32
    {{- end }}
