vim.pack.add({
  "https://www.github.com/nvim-lua/plenary.nvim",
  "https://github.com/nvim-treesitter/nvim-treesitter",
  {
    src = "https://www.github.com/olimorris/codecompanion.nvim",
    version = vim.version.range("^19.0.0"),
  },
})

require("codecompanion").setup({
  interactions = {
    inline = {
      adapter = "openrouter",
    },
    cmd = {
      adapter = "openrouter",
    },
    chat = {
      adapter = "openrouter",
    },
  },
  opts = {
    log_level = "DEBUG",
  },
  adapters = {
    http = {
      openrouter = function()
        return require("codecompanion.adapters").extend("openrouter", {
          env = {
            api_key = "{{ keepassxcAttribute "OpenRouter" "API key" }}",
          },
          schema = {
            model = {
              default = "openrouter/free",
            },
          },
        })
      end,
    },
  },
})

vim.keymap.set({"n", "v"}, "<leader>xx", ":CodeCompanion<CR>", { desc = "Inline" })
vim.keymap.set({"n", "v"}, "<leader>xc", ":CodeCompanionChat<CR>", { desc = "Chat" })
vim.keymap.set({"n", "v"}, "<leader>xf", ":CodeCompanion Fix this<CR>", { desc = '"Fix this"' })
vim.keymap.set({"n", "v"}, "<leader>xe", ":CodeCompanion Explain this<CR>", { desc = '"Explain this"' })
