host: imap.gmail.com
port: 993
tls: true
tlsOptions:
  rejectUnauthorized: false
username: {{ (keepassxc "Google (trackers)").UserName }}
password: {{ keepassxcAttribute "Google (trackers)" "App password" }}
onNewMail: mbsync gmail-trackers
onNewMailPost: ~/.local/scripts/mail_notify
boxes:
  - INBOX
