[Desktop Entry]
Type=Application

Name=Audio Settings
Exec=dmenu-audio
Icon=audio-card

Categories=AudioVideo;Settings;
Keywords=audio;sound;volume;pipewire;pulseaudio;

NoDisplay=false
Terminal=false
